* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: 1 / -1;
  justify-items: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

h1 {
  font-size: 60px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  font-size: 30px;
  margin: 20px;
}

#clock {
  font-size: 130px;
  font-weight: 500;
  margin: 40px;
}

#quote {
  font-size: 24px;
  max-width: 80%;
  text-align: center;
}

#weather {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 16px;
  text-align: right;
}

.hidden {
  display: none;
}
